.container-banner{
    width: 100%;
    height: 180px;
    background-image: url('../../imagenes/banner-principal.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}