.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff159;
  width: 100%; 
  min-width: 1300px;   
}

.top-box {
  display: flex;
  margin: 5px 0px 5px;
  
}

.header-input {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  width: 668px;
  height: 45px;
  margin:0 20px 0 25px;
  
}

.primer-input {
  width: 50%;
  border: none;
  padding: 10px;
  border-color: white;
  border-radius: 5px;
}

.segundo-input{
  width: 20px;
  font-size: 15px;
}

.header-promo {
  width: 340px;
  cursor: pointer;
}

.header-lupa {
  height: 21px;
  margin-left: 50px;
  cursor: pointer;
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ubicacion-logo {
  height: 22px;
  margin-right: 6px;
}

.header-ubicacion {
  display: flex;
}

.letras p {
  margin: 0;
}

.letras p:first-child {
  font-size: 13px;
}

.header-busqueda ul {
  display: flex;
}

.header-busqueda ul li {
  list-style: none;
  margin-left: 12px;
  cursor: pointer;
}

.carrito {
  height: 25px;
}
